@import '~styles/colors';
@import '~styles/media-queries';
@import '~styles/layout';

.header {
  background: $base-color;
  box-shadow: 1px 3px 3px 2px rgba(212, 212, 212, 0.271);
  color: $medium-dark-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  .content {
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media('<tablet') {
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    img {
      height: 40px;
    }
    @include media('<tablet') {
      margin-bottom: 15px;

      img {
        height: 20px;
      }
    }
  }

  a {
    color: $text-color;
    fill: $text-color;
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 12px;

    @include media('>=tablet') {
      font-size: 15px;
      margin-right: 15px;
      margin-left: 15px;
    }
  }
}
